on boot
    # Touch
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture

    # Glove input
    chown system system /sys/devices/virtual/input/clearpad/glove
    chmod 0660 /sys/devices/virtual/input/clearpad/glove
